.dropbtn {
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content form { 
    display: block;
}

.dropdown-content form:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

