<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="DropDown3.css">
</head>

<body>
	<div>
		<form action="signup" method="get"><input type="submit" value="Sign Up" style="float:left;"/></form>
		<form action="pairings" method="get"><input type="submit" value="Pairings" style="float:left;"/></form>
		<form action="tournaments" method="get"><input type="submit" value="Tournaments" style="float:left;"/></form>
		<form action="members" method="get"><input type="submit" value="Members" style="float:left;"/></form>
		<form action="scores" method="get"><input type="submit" value="Scores" style="float:left;"/></form>
		<form action="handicaps" method="get"><input type="submit" value="Handicaps" style="float:left;"/></form>

		<div class="dropdown" style="float:left;">
		  <button class="dropbtn">Dropdown</button>
		  <div class="dropdown-content">
			<form action="signup" method="get"><input type="submit" value="Sign Up"/></form>
			<form action="pairings" method="get"><input type="submit" value="Pairings"/></form>
			<form action="tournaments" method="get"><input type="submit" value="Tournaments"/></form>
			<form action="members" method="get"><input type="submit" value="Members"/></form>
			<form action="scores" method="get"><input type="submit" value="Scores"/></form>
			<form action="handicaps" method="get"><input type="submit" value="Handicaps"/></form>
		  </div>
		</div>
	</div>
	
	<div style="clear:both;"></div>

	<br><hr>
	<h2>jjjjjjjjjjj</h2>
</body>

</html>
