<div>
	<form action="signup" method="get"><input type="submit" value="Sign Up" style="float:left"/></form>
	<form action="pairings" method="get"><input type="submit" value="Pairings" style="float:left"/></form>
	<form action="tournaments" method="get"><input type="submit" value="Tournaments" style="float:left"/></form>
	<form action="members" method="get"><input type="submit" value="Members" style="float:left"/></form>
	<form action="scores" method="get"><input type="submit" value="Scores" style="float:left"/></form>
	<form action="handicaps" method="get"><input type="submit" value="Handicaps" style="float:left"/></form>
	
	<div style="overflow:hidden; float:left;">
		<button type="button" value="Administrator" style=":hover {display:block; float:none;};">Administrator</button>
		<div style="overflow:hidden; display: none; :hover {display:block; float:none;};">
			<form action="signup" method="get" style="display:block; float:none; :hover {display:block;};"><input type="submit" value="Sign Up" style="float:left"/></form>
			<form action="pairings" method="get" style="display:block; float:none; :hover {display:block;};"><input type="submit" value="Pairings" style="float:left"/></form>
			<form action="tournaments" method="get" style="display:block; float:none; :hover {display:block;};"><input type="submit" value="Tournaments" style="float:left"/></form>
			<form action="members" method="get" style="display:block; float:none; :hover {display:block;};"><input type="submit" value="Members" style="float:left"/></form>
			<form action="scores" method="get" style="display:block; float:none; :hover {display:block;};"><input type="submit" value="Scores" style="float:left"/></form>
			<form action="handicaps" method="get" style="display:block; float:none; :hover {display:block;};"><input type="submit" value="Handicaps" style="float:left"/></form>
		</div>
    </div>
		
	<div>
		
</div>
<br><hr>
