<html>
  <head>
    <link rel="stylesheet" type="text/css" href="testDrag.css" media="screen" />
    <script type="text/javascript" src="testDrag.js"></script>
  </head>

  <body>
    <div style="width:90%; height:90%;">
      <div style="width=40%; height=90%; float:left; border:solid black">
        <ul>
            <li draggable="true" class="sortable-bulk">List Item 1</li>
            <li draggable="true" class="sortable-bulk">List Item 2</li>
            <li draggable="true" class="sortable-bulk">List Item 3</li>
            <li draggable="true" class="sortable-bulk">List Item 4</li>
            <li draggable="true" class="sortable-bulk">List Item 5</li>
            <li draggable="true" class="sortable-bulk">List Item 6</li>
            <li draggable="true" class="sortable-bulk">List Item 7</li>
            <li draggable="true" class="sortable-bulk">List Item 8</li>
            <li draggable="true" class="sortable-bulk">List Item 9</li>
            <li draggable="true" class="sortable-bulk">List Item 10</li>
        </ul>
      </div>

      <hr>

      <div style="width=40%; height=90%; float:right; border:solid black">
        <ul>
            <li draggable="true" class="sortable-bulk"></li>
        </ul>
      </div>
  </div>
  </body>
</html>