<html>
	<head>
		<link rel="stylesheet" type="text/css" href="testDragDrop.css" media="screen" />

		<style>
		</style>

		<script type="text/javascript" src="testDragDrop.js"></script>

		<script>
		</script>
	</head>

	<body>
		<ul id="columns">
		  <li class="column" draggable="true"><header>A</header></li>
		  <li class="column" draggable="true"><header>B</header></li>
		  <li class="column" draggable="true"><header>C</header></li>
		  <li class="column" draggable="true"><header>D</header></li>
		  <li class="column" draggable="true"><header>E</header></li>
		</ul>
	</body>

</html>

